@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar-color: #3c3e42;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  text-align: center;
}

.alert-status {
  @extend .alert-info;
}

// container
.container {
  width: 1300px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

img {
  max-width: 600px;
}

/* header */

.navbar-inverse {
  background-color: $navbar-color;
}

.dropdown-menu {
  min-width: 120px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-decoration: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
  }
}

#logout {
  cursor: default;
  &:hover {
    background-color: transparent;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.panel {
  margin-top: 50px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.delete-btn {
  float: right;
  position: relative;
  right: 0;
}

/* Users edit */

.gravatar_edit {
  margin: 15px auto;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 100px;
  }
}

/* statuses */

.statuses {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    position: relative;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 1.2em;
  }
  .contents {
    display: block;
    margin-left: 60px;
    margin-bottom: 16px;
    img {
      display: inline;
      padding: 5px;
    }
  }
  .timestamp {
    color: $gray-light;
    display: inline;
    margin-left: 60px;
  }
  .comment {
    display: inline;
    margin-left: 100px;
    form {
      margin-left: 60px;
      margin-top: 10px;
      button {
        position: absolute;
        margin-top: 10px;
        right: 0;
      }
    }
  }
  .gravatar {
    margin-right: 10px;
    margin-top: 5px;
  }
  button.status-delete-btn {
    position: absolute;
    right: 0;
    top: 10px;
  }
  button.status-edit-btn {
    position: absolute;
    right: 60px;
    top: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.status_form {
  margin-top: 20px;
}

// comments
.comments {
  display: block;
  margin-top: 6px;
  padding-left: 20px;
  .comment-content {
    display: inline;
  }
  li {
    padding: 0;
    border-top: none;
    position: relative;
    list-style-type: none;
    form {
      display: none;
      margin-left: 30px;
    }
  }
  p {
    display: inline;
    font-size: 0.9em;
  }
  img {
    padding: 0 3px;
  }
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.popover-namecard {
  max-width: 360px;
  width: 360px;
  font-size: 14px;
  font-weight: normal;
  color: #555;
  line-height: 24px;
}

.popover-content {
  .popover-up {
    div {
      display: inline;
    }
    .popover-avatar {

    }
    .popover-info {
      div {
        position: absolute;
      }
      .username {
        margin: 0 15px;
        font-size: 1.2em;
      }
      .popover-status {
        margin-top: 30px;
        span {
          border-left: 1px #999 solid;
          padding: 0 15px;
          &:first-child {
            border-left: 0;
          }
        }
      }
    }
  }
  .popover-down {
    margin: 10px 0;
    form {
      display: inline;
    }
    .button {
      margin: 0 10px 0 0;
    }
  }
  img {
    width: 50px;
    border-radius: 5px;
  }
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}

// images
.rec-image {
  float: left;
  margin: 6px;
  max-width: 200px;
}

.inline_form {
  display: inline;
  margin: 0 6px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 70px;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  max-width: 50px;
  border-radius: 50%;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 33%;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }
  strong {
    display: block;
    font-size: 1.2em;
    color: black;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

#follow_form button {
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }

  .slogon {
    font-size: 13px;
    font-weight: bold;
  }
}
